
/* Header Start ---------------------------------- */
/* Website Header ------------------------------------- */
.website_header {
  width: 1330px;
  height: inherit;
  padding: 0px 15px;
  margin: auto;
  border: 1px solid #000;
}

/* Header Block One Start ---------------------------- */



/* Header Block One End ---------------------------- */
/* Header Block Two Start ----------------------------- */




/* Header Block Two End ----------------------------- */















/* Header End ---------------------------------- */