/* Font settings Start ------------------------------  */
.ft_16px_fw_600_Manrope {
  font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px;
color: var(--Black, #1E1B1B);
}

.ft_16px_fw_500_Gray_Manrope {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--Black, #1E1B1B);
}





/* Font settings End ------------------------------  */



















/* Header Start ---------------------------------- */
/* Website Header ------------------------------------- */
.website_header {
  width: 1330px;
  height: inherit;
  padding: 0px 15px;
  margin: auto;
  border: 1px solid #000;
}

/* Header Block One Start ---------------------------- */

.header_block_one {
  height: 90px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Header Block One - logo */
.header_block_one_logo>a>img {
  transition: all 0.3s;
}

.header_block_one_logo>a>img:hover {
  transform: scale(1.1);
}


/* Header Block One - Menu */
.header_block_one_menu {
  display: flex;
  align-items: center;
}


/* Header Block One - Menu - Navigation */
.header_block_one_menu_navigation {
  display: flex;
  align-items: center;
}

.header_block_one_menu_navigation>a {
  margin-right: 40px;
  transition: all .3s;
}

.header_block_one_menu_navigation>a:last-child{
  margin-right: 0px;
}

.header_block_one_menu_navigation>a:hover {
  color: #61C3A1;
}




.header_block_one_menu_navigation::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 42px;
  opacity: 0.36;
  background: #939191;
  margin: auto 32px;
}


/* Header Block One - Menu - Telephone */

.header_block_one_menu_telepone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_block_one_menu_telepone>a {
  margin-right: 14px;
}

.header_block_one_menu_telepone>a>img {
  transition: all 0.3s;
}

.header_block_one_menu_telepone>a>img:hover {
  transform: scale(1.2);
}

.header_block_one_menu_telepone>div>p:last-child {
  font-size: 18px;
  line-height: 175%; /* 31.5px */
}







/* Header Block One End ---------------------------- */
/* Header Block Two Start ----------------------------- */




/* Header Block Two End ----------------------------- */















/* Header End ---------------------------------- */