/* Footer - Section - 1 - "Get in touch" */
.footer_section_get_in_touch_main_borders {
  width: 100vw;
  padding: 130px 0px;
  opacity: 0.98;
  background: #1E1B1B;
}

/* Footer - Section - 1 - "Get in touch" - Block One*/
.f_get_in_touch_block_one {
  display: flex;
  justify-content: space-between;
}

.f_get_in_touch_block_one_part_left_titel {
  max-width: 400px;
}


/* Footer - Section - 1 - "Get in touch" - Block One - Part Left */

.f_get_in_touch_block_one_part_left_social_media_ul {
  display: flex;
  margin-top: 64px;
}

.f_get_in_touch_block_one_part_left_social_media_ul_li {
  margin-right: 23.67px;
}

.f_get_in_touch_block_one_part_left_social_media_ul_li:last-child {
  margin-right: 0px;
}

.f_get_in_touch_block_one_part_left_social_media_ul_li:hover path {
  transition: all 0.3s;
  fill: #FF6433;
}


/* Footer - Section - 1 - "Get in touch" - Block One - Part Right */

.f_get_in_touch_block_one_part_right{
  margin-right: 160px;
}

.f_get_in_touch_block_one_part_right_text_block {
  margin-top: 32px;
}

.f_get_in_touch_block_one_part_right_text_block:first-child {
  margin-top: 0px;
}

/* Media Query - Width - 1000px --------------------------------------------- */
@media (max-width: 1000px) {
  .f_get_in_touch_block_one {
    flex-direction: column;
    align-items: center;
  }

  .f_get_in_touch_block_one_part_left_titel>p {
    text-align: center;
  }

  .f_get_in_touch_block_one_part_left_social_media_ul{
    justify-content: center;
    margin-top: 50px;
  }

  .f_get_in_touch_block_one_part_right {
    margin: 0px;
    margin-top: 50px;
  }
}