/* Font settings Start ------------------------------  */
.ft_16px_fw_600_Manrope {
  font-size: 16px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color:#1E1B1B;
}

.ft_16px_fw_500_Gray_Manrope {
  font-size: 16px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #1E1B1B;
  opacity: 0.7;
}

.ft_16px_fw_600_Black_Manrope {
  font-size: 18px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
  color:#1E1B1B;
}

.ft_16px_fw_600_white_Manrope {
  font-size: 16px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #FFF;
}

.ft_16px_fw_600_Gray_Manrope {
  font-size: 16px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
  opacity: 0.6;
  color:  #1E1B1B;
}

.ft_16px_fw_600_Gray_G_Manrope {
  font-size: 16px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #939191;
}

.ft_18px_fw_600_Gray_Manrope {
  font-size: 18px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  color: #939191;
}

.ft_18px_fw_600_Black_Manrope {
  font-size: 18px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  color:  #1E1B1B;
  flex-shrink: 0;
}

.ft_18px_fw_600_Gray_Manrope {
  font-size: 18px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 175%; 
  opacity: 0.6;
  color:  #1E1B1B;
}

.ft_18px_fw_600_white_Manrope {
  font-size: 18px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 175%; 
  opacity: 0.6;
  color:  #dacece;
}

.ft_24px_fw_600_Black_Manrope {
  font-size: 24px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
  flex-shrink: 0;
  color:#1E1B1B;
}

.ft_24px_fw_600_white_Manrope {
  font-size: 24px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
  color: #FFF;
}

.ft_32px_fw_700_white_Manrope {
  font-size: 32px;
  font-family: "Manrope-Pro-Bold", serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #FFF;
}

.ft_32px_fw_700_black_Manrope{
  font-size: 32px;
  font-family: "Manrope-Pro-Bold", serif;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; 
  letter-spacing: -0.96px;
  color:#1E1B1B;
}

.ft_48px_fw_700_white_Manrope {
  font-size: 48px;
  font-family: "Manrope-Pro-Bold", serif;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; 
  letter-spacing: -1.44px;
  color: #FFF;
}

.ft_58px_fw_800_purple_Manrope {
  font-size: 58px;
  font-family: "Manrope-Pro-Bold", serif;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
  color:  #661CE7;
}

/* Font Settings End ------------------------------  */


/* General border for content ----------------------- */
.border_content{
  max-width: 1310px;
  height: inherit;
  padding: 0px 15px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #fc0303;
}

.transparent_background {
  background: transparent;
}

/* General Buttons Start ----------------------- */

.orange_button {
  padding: 16px 40px;
  border-radius: 12px;
  background:  #FF6433;

  color: #FFF;
  font-family: "Manrope", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;

  transition: all 0.3s;
}


.orange_button:hover{
  transform: scale(1.1);
}

/* General Buttons End ----------------------- */

/* Section titles Start --------------------- */

.section_title_small {
  color:  #1E1B1B;
  text-align: center;

  font-family: "Manrope", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
}

.section_title_big {
  color: #1E1B1B;
  text-align: center;

  font-family: "Manrope-Pro-Bold", serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px; 
  letter-spacing: -1.74px;
}

.section_title_big_left {
  text-align: left;
}


/* Section titles End --------------------- */

/* Transition Start ----------------------- */

.transiton_all_0_3_s {
  transition: all 0.3s;
}

/* Transition End ----------------------- */