
/* Header border ---------------------------------- */
.website_header{
  width: 100vw;
  height: 100vh;
  /* background-color: #b2f3dc; */
}
/* Header Border Content ------------------------------ */


/* Header Block One Start ---------------------------- */

.header_block_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Header Block One - logo */
.header_block_one_logo>a>img {
  transition: all 0.3s;
}

.header_block_one_logo>a>img:hover {
  transform: scale(1.1);
}

/* Header Block One - Menu */
.header_block_one_menu {
  display: flex;
  align-items: center;
}


/* Header Block One - Menu - Navigation */
.header_block_one_menu_navigation {
  display: flex;
  align-items: center;
}

.header_block_one_menu_navigation>a {
  margin-right: 40px;
  transition: all .3s;
}

.header_block_one_menu_navigation>a:last-child{
  margin-right: 0px;
}


.header_block_one_menu_navigation>a:hover {
  color: #61C3A1;
  transform: scale(1.1);
}

.header_block_one_menu_navigation::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 42px;
  opacity: 0.36;
  background: #939191;
  margin: auto 32px;
}

/* Header Block One - Menu - Telephone */

.header_block_one_menu_telepone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_block_one_menu_telepone>a {
  margin-right: 14px;
}

.header_block_one_menu_telepone>a>img {
  transition: all 0.3s;
}

.header_block_one_menu_telepone>a>img:hover {
  transform: scale(1.2);
}

.header_block_one_menu_telepone>div>p:last-child {
  font-size: 18px;
  line-height: 175%; /* 31.5px */
}



/* Header Block Two Start ----------------------------- */
.header_block_two {
  margin-top: 7.63%;
  display: flex;
  justify-content: space-between;

}

/* Header Block Two Left Part --------------------- */
.header_block_two_left_part {
  padding-right: 15px;
}


/* Header Block Two Left Part - Main Text --------------------- */
.header_block_two_left_part_main_text {
  margin-top: 16.03%;
  max-width: 530px;


  font-family: "Manrope-Pro-Bold", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.25%;
  letter-spacing: -1.92px;
  color:  #1E1B1B;
}


/* Header Block Two Left Part - Buttons --------------------- */
.header_block_two_left_part_buttons {
  margin-top: 4.44%;
  height: 74.63px;
  display: flex;
}


.header_block_two_left_part_button_book_a_service {
  align-self: end;
}

.header_block_two_left_part_button_play_video {
  margin-left: 48.16px;
  display: flex;
  align-items: start;
}

.header_block_two_left_part_button_play_video_img {
  transition: all 0.3s;
  border-radius: 50%;
}

.header_block_two_left_part_button_play_video>p {
  margin-left: 8px;
  color: #1E1B1B;
  text-align: right;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header_block_two_left_part_working_time {
  display: flex;
  align-items: center;
}

.header_block_two_left_part_working_time_clock {
  margin-right: 13.03px;
}


/* Header Block Two Left Part - Working Time --------------------- */
.header_block_two_left_part_working_time {
  margin-top: 9.33%;
}

/* Header Block Two - Left part - Telephone max-width 800px */

.header_block_two_left_part_telephone_width_less_800px {
  display: none;
}

/* Header Block Two Right Part --------------------- */
.header_block_two_right_part {
  max-width: 600px;
  position: relative;
}

.header_block_two_right_part>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Header Block Two Right Part - Block Quick Service --------------------- */
.header_block_two_right_part_quick_service {
  width: 280px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 59px;

  background: linear-gradient(139deg, #FFF -38.72%, #FFF 153.95%);
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.342);

  position: absolute;
  top: 10%;
  left: 5%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.header_block_two_right_part_quick_service>p:first-child{
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  background-color: #5CBA99;
  color: #FFF;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: "Manrope", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
}

.header_block_two_right_part_quick_service>p>span {
  margin-right: 2.98px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.72px;
  vertical-align: middle; 
}

.header_block_two_right_part_quick_service>p:last-child {
  margin-left: 15px;
}

/* Header Block Two Right Part - Block Stars --------------------- */
.header_block_two_right_part_stars {
  width:325px;
  height:104px;
  flex-shrink: 0;

  position: absolute;
  bottom: 10%;
  right: 5%;

  border-radius: 59px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  background: #FFF;
  box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.342);
  

  display: flex;
  justify-content: center;
  align-items: center;
}


.header_block_two_right_part_stars>div:first-child {
  margin-right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* Media queries 1100 px ----------------------------- */
@media (max-width: 1100px) {

  .header_block_two_left_part_main_text{
    font-size: 54px;
    max-width: 450px;
  }

  .header_block_two_left_part_buttons {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
  }


  .header_block_two_left_part_button_play_video {
    margin-left: 0px;
  }

  .header_block_two_left_part_button_book_a_service {
    align-self: center;
    margin-top: 9.33%;
  }

}


/* Media queries 1000 px ----------------------------- */
@media (max-width: 1000px) {
  .header_block_one_menu_navigation>a {
    margin-right: 30px;
  }


  .header_block_two_left_part_main_text{
    font-size: 44px;
  }
}


/* Media queries 900 px ----------------------------- */
@media (max-width: 900px) {

  .header_block_one_menu_navigation>a {
    margin-right: 25px;
  }


  .header_block_two {
    justify-content: center;
    align-items: center;
  }

  .header_block_two_right_part {
    display: none;
  }

  .header_block_two_left_part {
    padding: 0px;
  }

  .header_block_two_left_part_main_text {
    margin-top: 0px;
    text-align: center;
    font-size: 54px;
    max-width: 530px;
  }

  .header_block_two_left_part_working_time {
    justify-content: center;
  }

}

/* Media queries 800 px ----------------------------- */

@media (max-width: 800px) {

.no_display_max_width_800px {
  display: none;
}



  /* Navigation - Burger manue - Button   */
  .burger_manue {
    display: block;
    padding: 6px 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 101;
    border-radius: 4px;
    background-color: #5CBA99;
  }

  /* Center line */
  .burger_manue>span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 2px 0px;
    background-color: #fff;
    border-radius: 3px;
    margin: 2px 0 ;
  }

  /* Line top and bottom */
  .burger_manue::before,
  .burger_manue::after{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;
  }


.header_block_one {
  display: none;
}

  /* Navigation - Burger manue - Manue   */ 
/* .header_block_one {
  flex-direction: column;
  justify-content: flex-start;
  height: inherit;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: #eebcbc;
}

.header_block_one_menu {
  flex-direction: column;
}

.header_block_one_menu_navigation{
  flex-direction: column;
} */










  .header_block_two_left_part_telephone_width_less_800px {
    display: contents;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
  }
}

/* Media queries 600 px ----------------------------- */

@media (max-width: 600px) {
  .header_block_two_left_part_main_text{
    font-size: 44px;
  }
}

/* Media queries 500 px ----------------------------- */

@media (max-width: 500px) {
  .header_block_two_left_part_main_text{
    font-size: 34px;
  }
}

/* Media queries 400 px ----------------------------- */
@media (max-width: 400px) {
  .header_block_two_left_part_main_text{
    font-size: 30px;
  }

  .header_block_two_left_part_working_time_clock>img {
    display: none;
  }

  .header_block_two_left_part_working_time>div:last-child>p:last-child {
    font-size: 16px;
  }

}