/* Section - 7 - "Frequently" */

.section_frequently_main_borders {
  background: #E2E6E9;
}

.frequently_background{
  background: transparent;
}

/* "Frequently" - Block one */

.frequently_block_one {
  padding-top: 128px;
}


/* "Frequently" - Block two */

.frequently_block_two {
  margin-top: 86px;
  padding-bottom: 128px;
}

.frequently_block_two_section {
  max-width: 890px;
  margin: auto;
  background: #fff;

  padding: 40px;
  margin-bottom: 12px;

  border-radius: 10px;
}

.frequently_section_header {
  display: grid;
  grid: auto / 1fr 65px; 
  align-items: center;

}




.frequently_section_header_button{
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background: #FF6433;
  position: relative;
  border-radius: 4px;
}

.frequently_section_button_open{
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;

  position: absolute;
  top: 23px;
  left: 12px;

  transition: all 0.3s;
}

.frequently_section_close{
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transform: rotate(90deg);
  border-radius: 2px;
  
  position: absolute;
  top: 23px;
  left: 12px;

  transition: all 0.3s;
}


.frequently_section_text {
  margin-top: 16px;
  max-width: 700px;
}

/* Media Query - Width - 600px --------------------------------------------- */
@media (max-width: 600px) {

  .frequently_section_header {
    grid: auto / 1fr 55px; 
  }


  .frequently_section_header_button{
    width: 40px;
    height: 40px;
  }

  .frequently_section_button_open{
    width: 20px;

    top: 18px;
    left: 10px;
  }

  .frequently_section_close{
    width: 20px;

    top: 18px;
    left: 10px;
  }
}

/* Media Query - Width - 500px --------------------------------------------- */

@media (max-width: 500px) {


  .frequently_section_header>p {
    display: block;
    max-width: 280px;
  }

}