/* Section "Brands we serve" */
.section_brands_we_serve_main_borders {
  height: 611px;
  background: #E2E6E9;
}

.brands_we_serve_border_content{
  background: none;
}

/* Barands we serve - Block One */

.brands_we_serve_block_one {
  margin-top: 128px;
}


/* Barands we serve - Block Two */

.brands_we_serve_block_two {
  margin-top: 32.21px;
  display: grid;
  grid-template: repeat(2, auto) / repeat(5, auto);
  row-gap: 39.81px;
  column-gap: 38.61px;
}